<template>
    <!--<v-app id="inspire">-->
    <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <v-flex xs12 sm8 md4>
                    <v-card class="elevation-12">
                        <v-toolbar dark color="primary">
                            <v-toolbar-title>Login form</v-toolbar-title>
                            <v-spacer></v-spacer>

                            <router-link to="/register" tag="a">
                                <v-tooltip right>
                                    <v-btn slot="activator" icon large href="/register">
                                        <v-icon large>how_to_reg</v-icon>
                                    </v-btn>
                                    <span>Registration</span>
                                </v-tooltip>
                            </router-link>
                        </v-toolbar>
                        <v-card-text>
                            <v-form id="login" v-on:submit.prevent="attemptLogin()">
                                <v-text-field v-model="email" prepend-icon="person" name="email" label="Email"
                                              type="email"></v-text-field>
                                <v-text-field v-model="password" id="password" prepend-icon="lock" name="password"
                                              label="Password" type="password"></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn type="submit" form="login" color="primary">Login</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
    <!--</v-app>-->
</template>

<script>
    export default {

        data: () => ({
            drawer: null,
            email: '',
            password: ''
        }),
        props: {
            source: String
        },
        methods: {
            attemptLogin() {
                var app = this;


                axios.post('/api/login', {
                    email: this.email,
                    password: this.password
                })
                    .then(function (response) {
                        console.log(response.data);
                        app.$store.state.name = response.data['name'];
                        app.$store.state.api_token = response.data['api_token'];
                        app.$router.push({path: '/test'});
                    })
                    .catch(function (error) {
                        console.log(error);
                        app.$store.state.loading = false;
                    })
            }
        }

    }
</script>