<template>

    <!--<v-container>-->
    <v-data-table
            light
            :headers="headers"
            :items="items"
            hide-actions
            class="elevation-10 table mt-5 mb-5"
            :loading="loading"
    >
        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
        <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">{{ props.item.bedrooms }}</td>
            <td class="text-xs-right">{{ props.item.bathrooms }}</td>
            <td class="text-xs-right">{{ props.item.garages }}</td>
            <td class="text-xs-right">{{ props.item.storeys }}</td>
            <td class="text-xs-right">{{ props.item.price }}</td>
        </template>
    </v-data-table>
    <!--</v-container>-->

</template>

<script>
    export default {
        data() {
            return {
                headers: [
                    {
                        text: 'Name',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    },
                    {text: 'Bedrooms', value: 'bedrooms'},
                    {text: 'Bathrooms', value: 'bathrooms'},
                    {text: 'Garages', value: 'garages'},
                    {text: 'Storeys', value: 'storeys'},
                    {text: 'Price', value: 'price'}
                ],


            }
        },
        computed: {
            items() {
                return this.$store.state.items
            },
            loading() {
                return this.$store.state.loading
            }
        }
    }
</script>

<style>
    /*table.v-table{*/
    /*background-color: #ccc;*/
    /*color: rgba(0,0,0,1);*/
    /*border: 1px solid #000000;*/
    /*border: solid 1px #DDEEEE;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0;*/
    /*font: normal 13px Arial, sans-serif;*/
    /*}*/
    /*table.v-table th {*/
    /*background-color: #DDEFEF;*/
    /*border: solid 1px #DDEEEE;*/
    /*color: #336B6B;*/
    /*padding: 10px;*/
    /*text-align: left;*/
    /*text-shadow: 1px 1px 1px #fff;*/
    /*}*/
    /*table.v-table td {*/
    /*border: solid 1px #DDEEEE;*/
    /*color: #333;*/
    /*padding: 10px;*/
    /*text-shadow: 1px 1px 1px #fff;*/
    /*}*/
    /*table.v-table tr:hover {*/
    /*background-color: #CCE7E7;*/
    /*}*/
    /*table.v-table td {*/
    /*border-left: none;*/
    /*border-right: none;*/
    /*}*/

</style>