<template>
    <!--<v-app id="inspire">-->
    <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <v-flex xs12 sm8 md4>
                    <v-card class="elevation-12">
                        <v-toolbar dark color="primary">
                            <v-toolbar-title>Registration form</v-toolbar-title>
                            <v-spacer></v-spacer>

                            <router-link to="/login" tag="a">
                                <v-tooltip right>
                                    <v-btn slot="activator" icon large>
                                        <v-icon large>how_to_reg</v-icon>
                                    </v-btn>
                                    <span>Login</span>
                                </v-tooltip>
                            </router-link>
                        </v-toolbar>
                        <v-card-text>
                            <v-form id="registration" v-on:submit.prevent="attemptRegister()">
                                <v-text-field
                                        v-model="email"
                                        prepend-icon="person"
                                        name="email"
                                        label="Email"
                                        type="email"
                                        validate-on-blur
                                        :rules="[rules.required ,rules.email]"
                                        :error-messages="$v.email.$error && email.length ? messages : ''"
                                        :error-count="error_count"
                                        @blur="$v.email.$touch()"
                                        clearable

                                ></v-text-field>

                                <!-- <v-text-field v-model="password" id="password" prepend-icon="lock" name="password"
                                               label="Password" type="password"></v-text-field>-->
                                <v-text-field
                                        prepend-icon="lock"
                                        v-model="password"
                                        :append-icon="show1 ? 'visibility_off' : 'visibility'"
                                        :rules="[rules.required, rules.min]"
                                        :type="show1 ? 'text' : 'password'"
                                        label="Password"
                                        hint="At least 6 characters"
                                        counter
                                        @click:append="show1 = !show1"
                                ></v-text-field>
                                <v-text-field
                                        prepend-icon="lock"
                                        v-model="password_confirm"
                                        :append-icon="show2 ? 'visibility_off' : 'visibility'"
                                        :rules="[rules.required, rules.confirmed]"
                                        :type="show2 ? 'text' : 'password'"
                                        label="Confirm your password"
                                        hint="At least 6 characters"
                                        counter
                                        @click:append="show2 = !show2"
                                ></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn :disable="disable" type="submit" form="registration" color="primary">Registration</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
    <!--</v-app>-->
</template>

<script>
    import { email } from 'vuelidate/lib/validators';
    export default {
        name: "registration",
        data: function () {
            return {
                email: '',
                password: '',
                password_confirm: '',
                show1: false,
                show2: false,
                test_email: '',
                messages:[
                  'This email already exist',
                  'Error 2',
                  'Error 3',
                ],
                error_count: 1,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 6 || 'Min 6 characters',
                    confirmed: value => value === this.password || 'The password is wrong!',
                    email: value => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    }

                }
            }
        },
        methods: {
            attemptRegister() {
                alert('KU-ku');
            },
        },
        validations: {
            email: {
                email,
                uniqueEmail: async function (newEmail) {
                    if(!this.$v.email.email){
                        return true;
                    }
                    console.log('Go!');
                        const response = await axios.get('/api/test-email', {params: {email: newEmail}});
                        return response.data;
                }
            }

        },
        computed:{
            disable(){
                return '';
            }
        }
    }

</script>

<style scoped>

</style>
