<template>
    <!--<v-app id="inspire">-->
        <v-content>
            <v-container fluid>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Search form</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-icon large>search</v-icon>
                                <v-tooltip right>
                                    <v-btn slot="activator" icon large href="https://codepen.io/johnjleider/pen/wyYVVj"
                                           target="_blank">
                                        <v-icon large>mdi-codepen</v-icon>
                                    </v-btn>
                                    <span>Codepen</span>
                                </v-tooltip>
                            </v-toolbar>
                            <v-card-text>
                                <v-form id="search" v-on:submit.prevent="sendForm()">

                                    <v-text-field prepend-icon="person" name="name" label="Name"
                                                  type="text" v-model="name" clearable></v-text-field>
                                    <v-text-field prepend-icon="lock" name="bedrooms" v-model="bedrooms"
                                                  label="Bedrooms" clearable
                                                  type="text" mask="#"></v-text-field>
                                    <v-text-field prepend-icon="lock" name="bathrooms" v-model="bathrooms"
                                                  label="Bathrooms" clearable
                                                  type="text" mask="#"></v-text-field>
                                    <v-text-field prepend-icon="lock" clearable name="garages" label="Garages"
                                                  v-model="garages"
                                                  type="text" mask="#"></v-text-field>
                                    <v-text-field prepend-icon="lock" clearable name="storeys" label="Storeys"
                                                  v-model="storeys"
                                                  type="text"
                                                  mask="#"></v-text-field>

                                    <label for="min_price">min price</label>
                                    <v-flex
                                            id="min_price"
                                            shrink
                                            style="width: 100px"
                                    >
                                        <v-text-field
                                                v-model="price[0]"
                                                class="mt-0"
                                                hide-details
                                                single-line
                                                type="number"
                                        ></v-text-field>
                                    </v-flex>

                                    <v-flex>
                                        <v-range-slider
                                                v-model="price"
                                                max="1000000"
                                                min="1000"

                                        ></v-range-slider>
                                    </v-flex>
                                    <label for="max_price">max price</label>
                                    <v-flex
                                            id="max_price"
                                            shrink
                                            style="width: 100px"
                                    >
                                        <v-text-field
                                                v-model="price[1]"
                                                class="mt-0"
                                                hide-details
                                                single-line
                                                type="number"
                                        ></v-text-field>
                                    </v-flex>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn form="search" color="info" type="submit">Search</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
                <!--<app-table></app-table>-->
                <router-view></router-view>
            </v-container>
        </v-content>

    <!--</v-app>-->
</template>

<script>
    // import Table from './MyTable';
    export default {
        name: "search",
        data: () => ({
            drawer: null,
            price: [],
            min_price: '',
            max_price: '',
            name: '',
            storeys: '',
            garages: '',
            bathrooms: '',
            bedrooms: ''
        }),
        props: {
            source: String
        }
        ,
        methods: {
            async sendForm() {
                // event.preventDefault();
                this.$store.state.loading = true;
                var params = {
                        name: this.name,
                        storeys: this.storeys,
                        garages: this.garages,
                        bathrooms: this.bathrooms,
                        bedrooms: this.bedrooms,
                        min_price: this.price[0],
                        max_price: this.price[1],
                        api_token: 'fUxWwYeIoCghTtRnfqHj8aXTAT0f3He1tLV6c9LJxiyoMUaNEg4YYakzvWOp'
                    }
                ;
                var app = this;
                await axios.get('/api/house-search', {
                    params
                })
                    .then(function (response) {
                        console.log(response.data);
                        app.$store.state.items = response.data;
                        app.$store.state.loading = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                        app.$store.state.loading = false;
                    })
            }
        },
        // components: {
        //   appTable: Table
        // },
        created() {
            this.sendForm();
        }

    }
</script>

<style scoped>

</style>