<template>
    <!--<v-app>-->
        <v-toolbar dark color="primary">
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <router-link to="/" tag="a">
            <v-toolbar-title class="white--text">Title</v-toolbar-title>
            </router-link>
            <v-spacer></v-spacer>

            <v-btn icon>
                <v-icon>search</v-icon>
            </v-btn>

            <router-link tag="a" to="/login">
                <v-tooltip bottom >

                    <v-btn icon slot="activator">
                        <v-icon v-on:click="MyConsole()">perm_identity</v-icon>
                    </v-btn>

                    <span>Login</span>
                </v-tooltip>
            </router-link>


            <v-btn icon>
                <v-icon>refresh</v-icon>
            </v-btn>

            <v-btn v-if="$store.state.api_token" icon>
                <v-icon>more_vert</v-icon>
            </v-btn>
        </v-toolbar>
    <!--</v-app>-->

</template>

<script>
    export default {
        name: "toolbar",

        methods:{
            MyConsole(){

                console.log(this.$route);
            }
        }
    }
</script>

<style scoped>

</style>